# Ignore the workspace settings file
/.vscode

# Ignore the Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore project directories
projects/

# Ignore Python bytecode files
*.pyc

# Ignore egg info directories
*.egg-info/

#Ignore documents
*.pdf
*.docx
*.txt
*.gsheet

#Ignore env file
*.env

#Ignore virtual environment directories
.venv/

# Ignore log files
*.log

# Ignore avr directory (Arduiono libraries)
avr/
